
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">Satış Yap</button>

<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Satış Yapma Ekranı</h2>
            </div>
            <form>
                <div class="modal-body">
                    <label>Ürün Adı</label>
                    <input type="text" class="form-control" name="Product" />
                    <br />
                    <label>Ürün Fiyat</label>
                    <input type="text" class="=form-control" name="ProductPrice" />
                    <br />
                    <label>Müşteri Adı</label>
                    <input type="text" class="=form-control" name="CustomerName" />
                    <br />
                    <label>E-mail</label>
                    <input type="text" class="=form-control" name="CustomerEmail" />
                    <br />
                    <button class="btn btn-primary">Verileri Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>
